<problem>
    <title>Сравнение элементов массива (Вариант {{ id }})</title>
    <description>
        Напишите программу на ассемблере x86-64, которая находит все элементы массива{{ desc }}.
        
        Формат ввода:
        - Число n (1 ≤ n ≤ 100) - размер массива
        - n 64-битных целых чисел
        
        Формат вывода:
        - Каждый подходящий элемент на отдельной строке
        - В последней строке выведите количество найденных элементов
    </description>
    <examples>
        <example>
            <input>5\n1\n-2\n0\n15\n-5</input>
            <output>
            {% if op == '>' %}
            1\n15\n2
            {% elif op == '<' %}
            -2\n-5\n2
            {% endif %}
            </output>
        </example>
    </examples>
    <constraints>
        <time>1 сек</time>
        <memory>64 МБ</memory>
    </constraints>
</problem>